*{
    margin: 0;
    padding: 0;
}
.nav-container{
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    gap: 100px;
    box-shadow: 0px 4px 30px 0px rgb(0, 0,0,0.05);

}
.nav-menu-ul{
    display: flex;
    align-items: center;
}
.nav-menu > ul> li{
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.nav-btn{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgb(11, 2,35,0.10);
    gap: 10px;
}
.fa-youtube{
    width: 33.916px;
}
.img-logo{
    display: flex;
    gap: 10px;
}
.img-logo >img{
    width: 86.041px;
    height: 40px;   
}
.nav-span{
    color: #ff42a5;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.banner-text-h1{
    color: #0b0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}
.banner-text-h2{
    color: #8758f1;
    
    font-size: 90px;
    font-weight: 800;
}
.banner-context{
    color: #534c64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;    
}
.banner-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 40px;
    color: white;
}
.banner-img-img{
    width: 450px;
    margin-top:14px;
}
.second{
    background: #4ec5f7;
}
.main{
    padding: 100px 100px 100px;
}
.gammer{
    display: flex;
    justify-content: center;
}
.f-section-text{
    text-align: right;
}


.f-section-text-h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

text-align: right;
}

.f-section-primary{
    color: #534C64;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
   
    width: 520px;
    text-align: right;
  
}
.f-section-btn{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));


padding: 18px 40px;

gap: 10px;
border: 0;
color: white;
margin-top: 10px;
display: inline-flex;
align-items: flex-end;


}
.section-p{
    color: #534C64;
    padding-top: 5px;
    text-align: right;
}
.f-section-discription{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
padding-top: 5px;
text-align: right;
}
.f-section-img img{

    width: 100%;
    

}

.online-game{
    padding-top: 100px;
}
.online-h1{
    text-align: center;
    color: #0B0223;

font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.online-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.online-p{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
padding-bottom: 20px;
}
.img-box{
    display:flex;
    gap: 10px;
   
}

.item-img:hover{
    border: 3px solid #FF42A5;
    border-radius: 16px;
}




.item-img{
    width: 100%;
}
.item, .item-img{
    width: 95%;
}
.item-p{
    padding-top: 8px;
}


.game-download{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
gap: 200px;


   
}
.download-text{
    margin-top: 130px;
}
.big-picture{
    width: 100%; */
   
}
.small-picture{
    position: relative;
    bottom: 250px;
    width: 318.5px;
    height: 365.083px;
    border-radius: 8px;
    right: 100px;
}
.download-text-h1{
    text-align: right;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.download-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.download-text-p{
    width: 353px;
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.online-game02{
   
    display: flex;
    justify-content: space-between;
    gap: 200px;
    
    
}
.online-text-h1{
    font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
}
.online-text-p{
    color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.b-picture{
    width: 100%;
}
.s-picture{

width: 40%;
flex-shrink: 0;
position: relative;
left: 320px;
bottom: 130px;
}


.logos{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 35px;

}
.img-and-text{
    display: flex;
    align-items: center;
    gap: 5px;
   
  
}
.img-and-text:hover{
    width: 200px;
    padding-left: 5px;
height: 70px;
border-radius: 50px;
border-color: #FF42A5;
color: #FF42A5;

}
.footer{
    height: 426px;
    background: #0B0223;
    /* padding-left: 160px;
    padding-right: 160px; */
}
.footer-span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.footer-logo-h1{
    color: white;
}
.footer-text {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-top: 50px;
}






.footer-text{
    color: white;
}
.footer-privacy{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-top: 40px;
}
.footer-privacy {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.logo-footer{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;  
}
.logo-footer {
    width: 40px;
    height: 40px;
    

}
.logo-footer-button{
    border: 0;
    cursor: pointer;
}

.footer-small{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 25px;
}
